@font-face{
	font-family: 'douar';
	font-size: normal;
	font-weight: 400;
	src:url(douar.ttf);
}
@font-face{
	font-family: 'audiowide';
	font-size: normal;
	font-weight: 400;
	src:url(Audiowide-Regular.ttf);
}